<script defer>
    var catWidth = jQuery('.collection__dynamic-part').width();
    document.addEventListener('DOMContentLoaded', (event) => {
    setTimeout(function(){
    if(jQuery('.collection__description').first().text().length > 1){
        Clerk('content', '#clerk_cat');
    }
    }, 1500);
    
      Clerk('on','rendered','#clerk_cat', function(){
        jQuery('#clerk_cat').appendTo('.collection__description').first();
      });
    });
    </script>	
             
                  
        <div id="usf_container"></div>
       
        
        {% if collection.metafields.c_additional_info.content != blank %}
          <div class="collection__description">
            {{ collection.metafields.c_additional_info.content }}
    
          </div>
        {% endif %}