.payments {
    display: flex;
    align-items: center;
    gap: 10px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 32px;
    }
}

.payments.primary {
    .payments__item {
        border: 1px solid $primary-color;
    }
}

.payments.light-brown {
    .payments__item {
        border: 1px solid $light_brown-color;
    }
}
