.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid $light_brown-color;
    background-color: $secondary-color;

    &__announcebar,
    &__main,
    &__logo,
    &__menu,
    &__navigation,
    &__search {
        display: flex;
        align-items: center;
    }

    &__announcebar,
    &__main {
        width: 100%;
        padding: 0 45px;
    }

    &__announcebar {
        justify-content: center;
        height: 40px;
        background-color: $primary-color;

        .announcement {
            font-family: 'Helvetica';
            font-size: 18px;
            font-weight: 400;
            color: $lighten_secondary-color;
        }
    }

    &__main {
        height: 80px;
    }

    &__logo,
    &__menu,
    &__menu .link {
        height: 100%;
    }

    &__logo {
        justify-content: center;

        .logo {
            path {
                transition: fill .2s ease;
            }
        }

        &:hover {
            .logo {
                path {
                    fill: $primary-color;
                }
            }
        }
    }

    &__menu {
        gap: 25px;
        margin: 0 35px;
        padding: 0 35px;
        border-left: 1px solid $light_brown-color;
        border-right: 1px solid $light_brown-color;

        .link {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            text-transform: uppercase;
            color: $silver-color;
            transition: color .2s ease;
            cursor: pointer;

            .icon {
                transition: transform .3s ease;

                path {
                    transition: stroke .2s ease;
                }
            }

            &:hover {
                color: $primary-color;

                .icon {
                    transform: rotate(-180deg);

                    path {
                        stroke: $primary-color;
                    }
                }
            }
        }

        .megamenu {
            position: absolute;
            top: 121px;
            right: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 40px 0;
            background-color: $secondary-color;
            transition: opacity .3s ease, visibility .3s ease;
            opacity: 0;
            visibility: hidden;

            &__wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                max-width: $second-wrapper;
            }

            &__column {
                display: flex;
                flex-direction: column;
                gap: 25px;

                .title,
                .links__link {
                    color: $silver-color;
                    transition: color .2s ease;

                    &:hover {
                        color: $primary-color;
                    }
                }

                .title {
                    font-family: 'Teko';
                    font-weight: 600;
                    font-size: 22px;
                    text-transform: uppercase;
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    &__link {
                        font-family: 'Helvetica';
                        font-weight: 300;
                        font-size: 18px;
                    }
                }
            }

            &__imwrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;

                &:hover {
                    .title {
                        color: $primary-color;
                    }

                    .img {
                        transform: scale(1.05);
                    }
                }
            }

            &__image {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                .img {
                    position: relative;
                    z-index: 1;
                    margin-bottom: 15px;
                    transition: transform .2s ease;
                }

                .background {
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .megamenu.dn {
            display: none;
        }

        .megamenu.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__navigation {
        margin-left: auto;
    }

    &__search {
        gap: 10px;
        width: 210px;
        height: 45px;
        margin-right: 30px;
        padding: 0 10px;
        border: 1px solid $light_brown-color;

        .search {
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: fit-content;
                border: none;
                background: transparent;
                cursor: pointer;

                .icon {
                    path {
                        transition: fill .2s ease;
                    }
                }
        
                &:hover {
                    .icon {
                        path {
                            fill: $primary-color;
                        }
                    }
                }
            }

            &__field {
                width: 100%;
                height: 100%;
                font-family: 'Helvetica';
                font-weight: 400;
                border: none;
                background: transparent;

                &::placeholder {
                    color: $light_brown-color;
                }
            }
        }
    }

    &__favourites,
    &__user,
    &__cart {
        margin-right: 20px;
        cursor: pointer;

        .icon {
            path {
                transition: fill .2s ease;
            }
        }

        &:hover {
            .icon {
                path {
                    fill: $primary-color;
                }
            }
        }
    }

    &__cart {
        position: relative;

        .count {
            position: absolute;
            top: -12px;
            right: -12px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 12px;
            border-radius: 50%;
            background-color: $primary-color;
            color: $white-color;
        }
    }
}
