@import '../variables.scss';

.section-ii {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 45px;

    &__wrapper {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        width: 100%;
        max-width: $second-wrapper;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .icon {
            svg {
                width: 80px;
                height: 80px;
            }
        }

        .title {
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 18px;
            line-height: 1.44;
            text-align: center;
            color: $silver-color;
        }
    }

    @media screen and (max-width: $tabletXL) {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 0 15px;
    }

    @media screen and (max-width: $mobile) {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__item {
            flex-direction: row;
            
            .title {
                text-align: left;
            }
        }
    }
}
