@import '../variables.scss';

.section-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 90px 0 110px;

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $second-wrapper;
    }

    &__slogan {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__title,
    &__description {
        max-width: 640px;
        color: $silver-color;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 46px;
    }

    &__description {
        margin-bottom: 35px;
        font-family: 'Helvetica';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.44;
    }

    #contact_form {
        display: flex;
        align-items: center;
        gap: 10px;

        .input {
            width: 100%;
            max-width: 335px;
            height: 50px;
            padding: 0 20px;
            border: 1px solid $silver-color;
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 16px;
            background-color: $RGBA-light_silver-color;
            color: $silver-color;

            &::placeholder {
                color: $light_silver-color;
            }
        }

        .submit {
            height: 50px;
            padding: 0 50px;
            border: none;
            border: 1px solid $primary-color;
            font-size: 16px;
            background-color: $primary-color;
            color: $white-color;
            transition: background-color .2s ease, color .2s ease;
            cursor: pointer;

            &:hover {
                background-color: $white-color;
                color: $primary-color;
            }
        }
    }
}
