@import '../variables.scss';

.section-categories {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 45px;

    .vegetales-bg {
        position: absolute;
        top: -150px;
        right: 0;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $second-wrapper;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 60px;
        font-feature-settings: 'pnum' on, 'lnum' on, 'swsh' on;
        text-align: center;
        color: $silver-color;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 20px;
        width: 100%;
        margin-bottom: 25px;

        .category {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            &__image {
                width: 100%;
                max-inline-size: 100%;
                block-size: auto;
                aspect-ratio: 2/1.5;
                object-fit: cover;
                object-position: top center;
            }

            &__title {
                font-size: 20px;
                line-height: 1.2;
                text-align: center;
                color: $silver-color;
                transition: color .2s ease;
            }

            &:hover {
                .category {
                    &__title {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &__all {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 225px;
        height: 50px;
        font-size: 16px;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        color: $white-color;
        transition: background-color .2s ease, color .2s ease;
        cursor: pointer;

        &:hover {
            background-color: $white-color;
            color: $primary-color;
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 0 15px;

        &__container {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px 10px;

            .category {
                &__title {
                    font-size: 14px;
                }
            }
        }
    }
}
