@import '../variables.scss';

.section-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 45px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: $second-wrapper;
    }

    &__title {
        max-width: 800px;
        margin-bottom: 45px;
        font-size: 60px;
        font-feature-settings: 'swsh' on;
        text-align: center;
        color: $silver-color;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 65px 10px;
        width: 100%;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &__icon {
                margin-bottom: 20px;
            }
    
            &__title {
                font-size: 20px;
                line-height: 1.2;
                text-align: center;
                text-transform: lowercase;
                color: $silver-color;
            }
        }
    }

    @media screen and (max-width: $laptop) {
        &__container {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media screen and (max-width: $tabletXL) {
        &__container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 0 15px;

        &__title {
            font-size: 28px;
        }
    }

    @media screen and (max-width: $mobile) {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
