@import '../variables.scss';

.section-contact {
    padding-top: 185px;
    padding-bottom: 135px;
    position: relative;

    .vegetale-4-bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        user-select: none;
    }

    &__wrapper {
        max-width: $second-wrapper;
        margin: 0 auto;
        position: relative;
        z-index: 5;
    }

    &__title {
        margin-bottom: 22px;
        font-weight: 600;
        font-size: 46px;
        line-height: 45px;
        color: $silver-color;
        font-feature-settings: 'swsh' on;
    }

    &__description {
        margin: 0 0 44px 0;
        max-width: 796px;
        font-family: 'Helvetica';
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $silver-color;
    }

    &__form-title {
        margin-bottom: 21px;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        color: $silver-color;
    }

    &__body {
        display: flex;
        gap: 71px;
    }

    &__form {
        max-width: 490px;
        width: 100%;

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }

        :is(textarea, input) {
            font-family: 'Helvetica';
            box-sizing: border-box;
            min-height: 50px;
            background-color: transparent;
            border: 1px solid $new_silver-color;
            color: $new_silver-color;
            padding-left: 20px;
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }

        textarea {
            padding-top: 12px;
            height: 212px;
            resize: none;
        }

        input[type="submit"] {
            font-family: 'Operetta 8';
            width: 193px;
            height: 52px;
            padding-left: 0;
            background-color: $primary-color;
            color: $white-color;
            border: 1px solid $primary-color;
            font-weight: 500;
            font-size: 16px;
            line-height: 44px;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color .2s ease,color .2s ease;
        }

        input[type="submit"]:hover {
            background-color: transparent;
            color: $primary-color;
        }
    
    }

    &__info {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 30px;
        column-gap: 50px;
        max-height: 527px;
    }

    &__social {

        ul {
            margin-top: 6px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        path {
            transition: fill .2s ease;
        }

        a:hover path {
            fill: $primary-color;
        }
    }

    &__text {
        font-style: italic;
    }

    &__info-block {
        max-width: 300px;

        h4 {
            font-family: 'Helvetica';
            line-height: 30px;
            font-weight: 700;
            font-size: 18px;
            color: $silver-color;
        }

        p {
            margin: 0;
        }

        a:hover {
            color: $primary-color;;
        }

        :is(a, li, p) {
            font-family: 'Helvetica';
            line-height: 30px;
            font-weight: 400;
            font-size: 18px;
            color: $silver-color;
            transition: background-color .2s ease,color .2s ease;
        }
    }



    @media screen and (max-width: $laptop) {
        &__wrapper {
            max-width: $tabletXL;
        }

        &__info {
            max-height: 100%;
        }
    }

    @media screen and (max-width: $tabletXL) {
        &__wrapper {
            max-width: $tablet;
        }

        &__body {
            flex-direction: column;
        }

        &__form {
            max-width: 100%;
        }

        &__info {
            max-height: 527px;
        }
    }

    @media screen and (max-width: $tablet) {
        &__wrapper {
            margin: 0 15px;
        }

        &__info {
            max-height: 100%;
        }
    }

    @media screen and (max-width: $mobile) {
        padding-top: 142px;
        padding-bottom: 60px;


        &__title {
            margin-bottom: 16px;
            font-size: 28px;
            line-height: 34px;
        }

        &__description {
            margin-bottom: 16px;
        }
    }


}