/* ==================================================== IMPORTS ==================================================== */
//application
@import "./variables.scss";
@import "./normalize.scss";
@import "./fonts.scss";
//header
@import "./sections/header.scss";
// @import "./sections/mobile-header.scss";
// @import "./sections/footer.scss";
/* ===================================================== COMMON ==================================================== */
body {
    font-family: "Operetta8";
    font-weight: 600;
    line-height: 1;
    // -webkit-font-smoothing: antialiased;
}

body,
textarea,
ul {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $white-color;
    }

    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        background-color: $primary-color;
    }

    &::-webkit-scrollbar-track {
        background-color: $secondary-color;
    }
}

/* =================================================== PRELOADER =================================================== */
.preloader {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
    transition: opacity .5s ease, visibility .5s ease;
}

.preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.preloader.dn {
    display: none;
}

/* ================================================== BACKGROUNDS ================================================== */
.rays-bg {
    position: absolute;
    top: -100%;
    left: 0;
}
