/* ==================================================== IMPORTS ==================================================== */
//application
@import "./variables.scss";
@import "./normalize.scss";
@import "./fonts.scss";
//header
@import "./sections/header.scss";
@import "./sections/footer.scss";
/* ===================================================== COMMON ==================================================== */
body {
    font-family: "Operetta8";
    font-weight: 600;
    line-height: 1;
    // -webkit-font-smoothing: antialiased;
    background-color: $secondary-color;
    width: 100%;
}

body,
textarea,
ul {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $white-color;
    }

    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        background-color: $primary-color;
    }

    &::-webkit-scrollbar-track {
        background-color: $secondary-color;
    }
}

.main {
    width: 100%;
    overflow: hidden;
}

/* =================================================== PRELOADER =================================================== */
.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
    transition: opacity .5s ease, visibility .5s ease;
}

.preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.preloader.dn {
    display: none;
}

/* =================================================== RECAPTCHA =================================================== */
.shopify-challenge {
    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        form {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    
        .shopify-challenge__button {
            height: calc(100% - 5px);
            padding: 0 50px;
            border: none;
            border: 1px solid $primary-color;
            font-size: 16px;
            text-transform: uppercase;
            background-color: $primary-color;
            color: $white-color;
            transition: background-color .2s ease, color .2s ease;
            cursor: pointer;
    
            &:hover {
                background-color: $white-color;
                color: $primary-color;
            }
        }
    }

    &__message {
        margin: 0;
        font-size: 48px;
        font-feature-settings: 'pnum' on, 'lnum' on, 'swsh' on;
        color: $silver-color;
    }
}

/* ================================================ DEFAULT PAGES =================================================  */

.breadcrumb {
    display: none;
}

.container--narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 121px;
    padding: 30px 45px 60px;

    .page__content,
    .page__header {
        width: 100%;
        max-width: $second-wrapper;
        color: $silver-color;
    }

    .page__header {
        margin: 0 auto 20px;
        font-weight: 600;
        font-size: 21px;
        font-feature-settings: 'pnum' on, 'lnum' on, 'swsh' on;
        text-align: center;

        .page-date {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
        }
    }

    .page__content {
        p,
        li,
        em,
        .std {
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 18px;
            line-height: 1.44;
        }

        a {
            color: $primary-color;
        }

        ul {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        td {
            padding: 10px;
            border: 1px solid $new_silver-color;
        }
    }
}

.grecaptcha-badge {
    display: none !important;
}

#wc_review_section {
    max-width: $laptop;
    margin: 0 auto;
    display: flex;
    padding: 31px 0 0;

    .wc_review_top_title.wc_wf_cls {
        display: none;
    }

    .wc_overall_review.wc_review_layout_1 {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;
        max-width: 336px;
    }

    .wc_average_review_stars {
        display: none;
    }

    .wc_review_count {
        width: 100%;
        margin-bottom: 16px;
    }

    .wc_review_form_btns {
        width: 100%;

        ul {
            text-align: left;

            li {
                max-width: 286px;
                width: 100%;

                a {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }

    .wc_review_graph {
        padding: 0 !important;
        margin-bottom: 22px !important;

        .wc_graph_value {
            display: none;
        }

        .wc_graph_bar_persent {
            display: none;
        }

        li {
            padding-bottom: 15px !important;
        }
    }

    .wc_review_count_text, .wc_graph_per_count .wc_graph_review_count {
        font-family: 'Helvetica' !important;
        color: black !important;
        font-weight: 400;
        line-height: 24px;
    }

    .wc_review_listing_select {
        display: none;
    }

    .wc_tab_links {
        display: none;
    }

    .wc_wf_cls {
        background: transparent;
        border: none;

        .wc_author_title {
            display: flex;
            flex-direction: column-reverse;
            gap: 13px;

            .wc_author_name {
                padding: 0;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
            }

            .wc_author_name + .wc_wf_cls {
                display: flex;
                align-items: center;
            }
        }

        .wc_review_main_ul {
        
            .wc_review_content {
                padding: 8px 0;

                .wc_review_text :is(h4,p) {
                    font-family: 'Helvetica' !important;
                    line-height: 26px;
                    font-weight: 400;
                }

                .wc_review_text h4 {
                    padding-bottom: 0;
                }
            }
        }
    }

    .wc_review_layout_section.wc_wf_cls {
        padding-top: 0;
    }

    .wc_tab_content.wc_wf_cls {
        padding-top: 0;
    }

    .wc_review_list_section {

        ul.wc_review_main_ul {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-top: 40px !important ;

            li {
                padding: 0;
            }
        }
    }
    
    @media screen and (max-width: $laptop) {
        max-width: $tabletXL;
    }

    @media screen and (max-width: $tabletXL) {
        max-width: $tablet;

    }

    @media screen and (max-width: $tablet) {
        flex-direction: column;
        margin: 0 15px;

        #wc_review_section .wc_overall_review.wc_review_layout_1 {
            max-width: 100%;
        }

        .wc_review_main_content .wc_review_count {
            padding-bottom: 0;
        }
    }

    
}

@media screen and (max-width: $tablet) {
    .container--narrow {
        padding: 30px 15px 30px;
    }


}
