/* ==================================================== IMPORTS ==================================================== */
//application
@import "./variables.scss";
@import "./normalize.scss";
@import "./fonts.scss";
//header
@import "./sections/header.scss";
// @import "./sections/mobile-header.scss";
// @import "./sections/footer.scss";
/* ===================================================== COMMON ==================================================== */
body {
    font-family: "Operetta8";
    font-weight: 600;
    line-height: 1;
    // -webkit-font-smoothing: antialiased;
}

body,
textarea,
ul {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $white-color;
    }

    &::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        background-color: $primary-color;
    }

    &::-webkit-scrollbar-track {
        background-color: $secondary-color;
    }
}
