/* ================================================== Operetta8 ================================================= */
@font-face {
    font-family: "Operetta8";
    src: url(Operetta8-DemiBold.otf);
    font-weight: 600;
}
