/* =================================================== Operetta8 =================================================== */
@font-face {
    font-family: 'Operetta8';
    src: url(Operetta8-DemiBold.otf);
    font-weight: 600;
}

/* ===================================================== Teko ====================================================== */
@font-face {
    font-family: 'Teko';
    src: url(Teko-SemiBold.ttf);
    font-weight: 600;
}

/* ==================================================== Poppins ==================================================== */
@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Regular.ttf);
    font-weight: 400;
}
