/* ==================================================== ADAPTIVE =================================================== */
// $mobileSM:                                        380px;
$mobile:                                          576px;
$tablet:                                          768px;
$tabletXL:                                        992px;

$laptop:                                         1200px;
$laptopXL:                                       1300px;
$desktop:                                        1400px;
// $desktopXL:                                      1500px;
// $desktopXXL:                                     1600px;
/* ==================================================== LAYOUTS ==================================================== */
$second-wrapper:                                 1250px;
$main-wrapper:                                   1440px;
/* ===================================================== COLORS ==================================================== */
//main
$primary-color:                               #2E396A;
$secondary-color:                             #BCA28E;
//black
$black-color:                                 #000000;
//white
$white-color:                                 #FFFFFF;
