/* ==================================================== ADAPTIVE =================================================== */
// $mobileSM:                                        380px;
$mobile:                                          576px;
$tablet:                                          768px;
$tabletXL:                                        992px;

$laptop:                                         1200px;
$laptopXL:                                       1300px;
$desktop:                                        1400px;
$desktopXL:                                      1499px;
$desktopXXL:                                     1599px;
/* ==================================================== LAYOUTS ==================================================== */
$second-wrapper:                                 1200px;
$big_second-wrapper:                             1260px;
$main-wrapper:                                   1600px;
/* ===================================================== COLORS ==================================================== */
//main
$primary-color:                               #BD8737;
$secondary-color:                             #FBF0DF;
$lighten_secondary-color:                     #F5F2EA;
//black
$black-color:                                 #000000;
//white
$white-color:                                 #FFFFFF;
$dark_white-color:                            #BBBBBB;
//silver
$lighten_silver-color:                        #E1D8C7;
$light_silver-color:                          #7D7A66;
$pre_silver-color:                            #585858;
$silver-color:                                #4E4A33;
$new_light_silver-color:                      #7A7777;
$border_silver-color:                         #A29F8A;
//brown
$lighten_brown-color:                         #F3E8D2;
$light_brown-color:                           #A39F8A;
//gray
$light_gray-color:                            #CFD3B8;
//orange
$dark__orange-color:                          #BD8737;
/* ===================================================== RGBA ====================================================== */
$RGBA-light_silver-color:    rgba(245, 242, 234, 0.5);
