{% render 'Section-styles', name: 'section-example' %}

<section class="section-example">
    <div class="section-example__wrapper">
        <h2 class="section-example__title">{{ section.settings.title }}</h2>
        <div class="section-example__description">{{ section.settings.description }}</div>
    </div>
</section>

{% schema %}
    {
        "name": "Example section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "info": "Use <br> to break a line"
            }
        ],
        "blocks": [
            {
                "name": "Item",
                "type": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "item-logo",
                        "label": "Partner logo"
                    },
                    {
                        "type": "url",
                        "id": "item-url",
                        "label": "Partner link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Example section",
                "settings": {

                }
            }
        ]
    }
{% endschema %}