{% liquid
    render 'Section-styles', name: 'section-collection'
    render 'Section-scripts', name: 'section-collection'
%}

<section class="section-collection">
    <div class="section-collection__wrapper">
        <a href="{{ product.collections[0].url }}" class="back-link">
            {% render 'Arrows', direction: 'left' %}
            TERUG NAAR WEBSHOP
        </a>

        <div class="wrapper">
            <div class="filter">

            </div>
            <div class="collection">
                
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Collection section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "info": "Use <br> to break a line"
            }
        ],
        "blocks": [
            {
                "name": "Item",
                "type": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "item-logo",
                        "label": "Partner logo"
                    },
                    {
                        "type": "url",
                        "id": "item-url",
                        "label": "Partner link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Collection section",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
