{% liquid
    render 'Section-styles', name: 'section-blog'
    render 'Section-scripts', name: 'section-blog'
%}

<style>
    .section-blog {
        margin-top: {{ section.settings.margin-top }}px;
        margin-bottom: {{ section.settings.margin-bottom }}px;
    }


</style>

<section class="section-blog">
    <div class="section-blog__wrapper">
        <h1 class="section-blog__title">Contact</h1>
        <p class="section-blog__description">
            Wil je met ons in blog komen?
            Dat kan door simpelweg dit formulier in te vullen of door middel van e-mail, telefoon of live chat.
            Superfoods BV is bereikbaar van maandag t/m vrijdag 09:00 — 18:00
            (kerstdagen en nieuwjaarsdag uitgezonderd
        </p>
        <div class="section-blog__body">
            
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Blog template",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Mijn winkelmandje"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "info": "Use <br> to break a line"
            },
            {
                "type": "range",
                "id": "margin-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin top",
                "default": 185
            },
            {
                "type": "range",
                "id": "margin-bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin bottom",
                "default": 45
            }
        ],
        "blocks": [
            {
                "name": "Item",
                "type": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "item-logo",
                        "label": "Partner logo"
                    },
                    {
                        "type": "url",
                        "id": "item-url",
                        "label": "Partner link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Blog template",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
