{% liquid
    render 'Section-styles', name: 'section-video'
%}

{% comment %} render 'Section-scripts', name: 'section-video' {% endcomment %}

<style>
    .section-video {
        padding-top: {{ section.settings.padding-top }};
        padding-bottom: {{ section.settings.padding-bottom }};
    }
</style>


<section class="section-video">
    <div class="section-video__wrapper">
        {% if section.settings.title != blank %}
            <h2 class="section-video__title">{{ section.settings.title }}</h2>
        {% endif %}
        <div class="section-video__container" data-video-container>
            <video class="section-video__video" src="{{ section.settings.video.sources[1].url }}" playsinline loop data-video></video>
            <div class="video__playzone" data-video-playzone></div>
            <div class="video__button" data-video-btn="play">
                {% render 'Video-buttons', icon: 'play' %}
            </div>
            <div class="video__button hidden dn" data-video-btn="pause">
                {% render 'Video-buttons', icon: 'pause' %}
            </div>
    </div>
    </div>
</section>

{% schema %}
    {
        "name": "video section",
        "settings": [
            {
                "type": "textarea",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "range",
                "id": "padding-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top",
                "default": 45
            },
            {
                "type": "range",
                "id": "padding-bottom",
                "min": 0,
                "max": 200,
                "step": 5,  
                "unit": "px",
                "label": "Padding bottom",
                "default": 50
            },
            {
                "type": "video",
                "id": "video",
                "label": "Video"
            }
        ],
        "presets": [
            {
                "name": "video section",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
