{% liquid
    render 'Section-styles', name: 'section-fiwi'
%}

<section class="section-fiwi" style="background-color: {{ section.settings.background }};">
    <div class="section-fiwi__wrapper {% if section.settings.reversed %}reversed{% endif %}">
        <div class="section-fiwi__info">
            {% if product.metafields.tabs.tab_title != blank %}
                {% for tab_title in product.metafields.tabs.tab_title %}
                    {% if tab_title == 'Gebruik en dosering' and tab_title == section.settings.title %}
                        <h2 class="title">{{ tab_title }}</h2>
                        <div class="description">{{ product.metafields.tabs.tab_content[forloop.index0] }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <img src="{{ section.settings.image | image_url }}" width="auto" height="auto" loading="lazy" class="section-fiwi__img">
    </div>
</section>

{% schema %}
    {
        "name": "Fullscrn info with image",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "checkbox",
                "id": "reversed",
                "label": "Reversed"
            },
            {
                "type": "color",
                "id": "background",
                "label": "Info background color"
            }
        ],
        "presets": [
            {
                "name": "Fullscrn info with image",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
