@import '../../variables.scss';
@import '../../modules/swiper.scss';
@import '../../components/payments.scss';
@import '../../components/info-items.scss';

.section-product {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    background-color: $secondary-color;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: $main-wrapper;
    }

    &__images,
    &__info {
        width: 50%;
    }

    &__images {
        // position: relative;
        position: sticky;
        top: 121px;
        height: fit-content;

        .featured-image {
            width: 100%;
            max-inline-size: 100%;
            block-size: auto;
            aspect-ratio: auto;  
            object-fit: cover;
            object-position: top center;
            border: 1px solid transparent;
            transition: border-color .2s ease;
        }

        .slider {
            position: absolute;
            bottom: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
            padding: 0 40px;

            .swiper-container {
                width: 100%;
                max-width: 295px;
                margin: 0 auto;
                overflow: hidden;
            
                .swiper-wrapper {
                    width: 100%;
                    height: 100%;
                }
        
                .swiper-slide {
                    height: auto;
                    border: 1px solid $light_brown-color;
                    opacity: .5;
                    cursor: pointer;

                    .img {
                        display: block;
                        aspect-ratio: 1/1;
                        max-width: 85px;
                        max-height: 85px;
                        width: 100%;
                        height: 100%;
                    }
                }

                .swiper-slide.current {
                    border-color: $primary-color;
                    opacity: 1;
                    cursor: default;
                }
            }
    
            .swiper-button-prev,
            .swiper-button-next {
                position: unset;
                min-width: 40px;
                height: 40px;
                margin: 0;
                border: 2px solid $primary-color;
                border-radius: 50%;
                
                
    
                &::after {
                    font-size: 17px;
                    font-weight: 900;
                    color: $primary-color;
                }
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 45px 75px;

        .wrapper {
            width: 100%;
            max-width: 600px;
        }

        .head {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 25px;
            padding: 25px 45px;
            background-color: $light_gray-color;

            &__title,
            &__subtitle {
                font-family: 'Helvetica';
                font-weight: 400;
                text-align: center;
            }

            &__title {
                font-size: 22px;
                line-height: 1.36;
            }

            &__subtitle {
                font-size: 14px;
                line-height: 1.5;
                color: $pre_silver-color;
            }
        }

        .title {
            margin-bottom: 25px;
            font-weight: 600;
            font-size: 46px;
            text-transform: uppercase;
            color: $silver-color;
        }

        .reviews {
            display: inline-flex;
            align-items: center;
            margin-bottom: 25px;
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 14px;
            color: $silver-color;

            &__stars {
                display: inline-flex;
                align-items: center;
                gap: 5px;
                padding: 0 10px;
            }
        }

        .reviews.mobile {
            display: none;
        }

        .description {
            margin-bottom: 25px;
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 18px;
            line-height: 1.44;
            color: $silver-color;

            p {
                margin-top: 0;
            }
        }

        .labels {
            display: flex;
            gap: 7px 20px;
            flex-wrap: wrap;
            margin-bottom: 25px;

            &__item {
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: 'Helvetica';
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                color: $silver-color;
            }
        }

        .labels.mobile {
            display: none;
        }

        .format {
            margin-bottom: 30px;

            &__title {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 600;
            }

            &__wrapper {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
            }

            &__item,
            &__stock {
                font-family: 'Helvetica';
                font-weight: 400;
                color: $silver-color;
            }

            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35px;
                padding: 0 20px;
                border: 1px solid $pre_light_silver-color;
                font-size: 16px;
                transition: border-color .2s ease, background-color .2s ease;
                cursor: pointer;
            }

            &__item.active {
                background-color: $light_gray-color;
                cursor: default;
            }
            
            &__stock {
                font-size: 14px;
            }
        }

        .buttons {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-gap: 20px;
            width: 100%;
            margin-bottom: 25px;

            &__counter-wrapper {
                position: relative;
                width: fit-content;

                .price {
                    display: none;
                    font-size: 46px;
                    text-transform: uppercase;
                    color: $silver-color;
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 15px;
                }
            }

            &__counter,
            &__favourites {
                width: 80px;
                height: 50px;
                border: 1px solid $light_brown-color;
                background-color: transparent;
                cursor: pointer;
            }

            &__counter {
                appearance: none;
                position: relative;
                z-index: 1;
                padding: 0 15px;
                font-family: 'Helvetica';
                font-weight: 400;
                font-size: 18px;
                color: $silver-color;
            }

            &__submit {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 100%;
                font-size: 16px;
                border: 1px solid $primary-color;
                background-color: $primary-color;
                color: $white-color;
                transition: background-color .2s ease, color .2s ease;
                cursor: pointer;

                &:hover {
                    background-color: $white-color;
                    color: $primary-color;
                }
            }

            &__favourites {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: $tabletXL) {
        &__images {
            .slider {
                padding: 0 15px;
            }
        }

        &__info {
            .info-items {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media screen and (max-width: $tablet) {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__images,
        &__info {
            width: 100%;
        }

        &__images {
            position: relative;
            top: unset;
        }

        &__info {
            padding: 30px 15px;

            .wrapper {
                max-width: 100%;
            }
            
            .title {
                font-size: 24px;
            }

            .description {
                display: none;
            }

            .labels {
                display: none;
            }

            .labels.mobile {
                display: flex;
            }

            .format {
                &__stock {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 35px;
                }
            }

            .reviews {
                display: none;

                font-weight: 700;
                font-size: 30px;

                &__stars {
                    .star {
                        width: 20px;
                        height: 18.4px;
                    }
                }
            }

            .reviews.mobile {
                display: flex;
                width: fit-content;
                margin: 0 auto 25px;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        &__info {
            .buttons {
                grid-template-columns: 1fr;
                grid-gap: 25px;

                &__counter-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 40px;
                    margin: 0 auto;

                    .price {
                        display: block;
                    }
                }

                &__favourites {
                    display: none;
                }
            }

            .info-items {
                &__item {
                    .text {
                        max-width: 135px;
                    }
                }
            }
        }
    }
}
